html, body, h1, h2, h3, h4, h5, h6, p, span, label, ol, ul, li, dl, dt, dd, div, form, pre, fieldset, legend {
    margin: 0;
    padding: 0;
}

body {
    font-size: 100%;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    line-height: 1.5;
    color: black;
    background-color: white;
}

ul, li {
    list-style: none;
}

table {
    border-collapse: collapse;
}

a {
    cursor: pointer;
}

.clearfix {
    *zoom: 1;
}

    .clearfix:after {
        display: block;
        height: 0;
        content: ".";
        visibility: hidden;
        overflow: hidden;
        clear: both;
    }

.fl {
    float: left;
}

.fr {
    float: right;
}
